@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto:wght@300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
}

:root {
    /* colors */
    --red: rgba(255, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --white_30: rgba(255, 255, 255, .3);
    --black: rgba(0, 0, 0, 1);
    --black_50: rgba(0, 0, 0, .5);
    --gray: #787d85;

    /* font size */
    --h_title_h1: clamp(7rem, 10.5vw + 1.882rem, 9.25rem);          /* 778px < vw < 1120px*/
    --h_subtitle_h2: clamp(6rem, 9.4vw + 1.450rem, 8rem);           /* 778px < vw < 1120px*/
    --h_info_p: clamp(1.5rem, 2.3vw + .363rem, 2rem);               /* 778px < vw < 1120px*/
    --h_contact_phone: clamp(1.25rem, 1.2vw + .681rem , 1.5rem);    /* 778px < vw < 1120px*/
    --h_contact_text1: clamp(.75rem, 1.2vw + .181rem , 1rem);       /* 778px < vw < 1120px*/
    --h_contact_text2: clamp(1.25rem, 1.2vw + .681rem , 1.5rem);    /* 778px < vw < 1120px*/

}

/* =========================================
                 HEADER
   ========================================= */

.h-grid {
    display: grid;
    background-image: url(http://www.leadm2m.com/wp-content/uploads/2018/04/tower-820001_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
    grid-template-rows: auto auto auto auto auto;
}

/*============== Logo ==============*/

.h-logo-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /*border: 1px solid white;*/
}

.h-logo-wrapper img {
    margin: .25rem 0 0 3rem;
}

/*============== Navbar ==============*/

.h-nav-ul {
    grid-column: 2 / 5;
    grid-row: 1 / 2; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 700;
    /*border: 1px solid white;*/
}

.h-nav-li {
    padding: 1rem;
}

/*========= label & checkbox =========*/

.nav-toggle{
    display: none;
}

.nav-toggle-lbl {
    display: none;
}


/*============== Icons ==============*/

.h-media-wrapper {
    grid-column: 5 / 6;
    grid-row: 1 / 2; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    /*border: 1px solid white;*/
}

.icon {
    width: 1.75rem;
    height: 1.75rem;
    margin: .15rem;
    line-height: 1.75rem;
    border-radius: 50%;
    text-align: center;
    background: var(--white_30);
}

a[data-fbk], a[data-twr], a[data-ldi] {
    position: relative;
}

a[data-fbk]::after{
    content: attr(data-fbk);
}

a[data-twr]::after{
    content: attr(data-twr);
}

a[data-ldi]::after{
    content: attr(data-ldi);
}

a[data-fbk]::after, a[data-twr]::after, a[data-ldi]::after {
    position: absolute;
    top: 2.5rem;
    right: -.75rem;
    font-family: "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1rem;
    background: var(--black_50);
    padding: .5rem;
    border-radius: .25rem;
    border: .5px solid var(--gray);
    transform-origin: left;
    transform: scale(0,1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 250ms ease-out,
                opacity 250ms ease-out;

}

a[data-fbk]:hover::after, a[data-twr]:hover::after, a[data-ldi]:hover::after {
    transform: scale(1, 1);
    visibility: visible;
    opacity: 1;
    transition: transform 250ms ease-out,
                visibility 150ms ease-out 125ms,
                opacity 150ms ease-out 125ms;
}

/*========== Titles (h1, h2) ==========*/

.h-title-wrapper {
    grid-column: 1 / 4;
    grid-row: 2 / 4; 
    /*border: 1px solid white;*/
}

.h-title-wrapper h1 {
    font-family: 'Oswald', sans-serif;
    font-size: var(--h_title_h1);
    line-height: 8rem;
    font-weight: 900;
    letter-spacing: .20rem;
    color: var(--red);
    transform-origin: left;
    transform: scale(1, 1.07);
    margin: 0.25rem 0 1rem 1.75rem;
}

.h-subtitle-wrapper {
    grid-column: 1 / 4;
    grid-row: 4 / 5; 
    /*border: 1px solid white;*/
}

.h-subtitle-wrapper h2 {
    font-family: 'Oswald', sans-serif;
    font-size: var(--h_subtitle_h2);
    line-height: 8rem;
    font-weight: 300;
    transform-origin: left;
    transform: scale(1.2, 1.2);
    margin: 0.5rem 0 1rem 1.75rem;
}


/*========== Info 24/7/365 ========== */

.h-info-wrapper {
    grid-column: 1 / 4;
    grid-row: 5 / 6; 
    /*border: 1px solid white;*/
}

.h-info-wrapper p {
    font-family: Roboto;
    font-size: var(--h_info_p);
    line-height: 2.5rem;
    font-weight: 700;
    margin: 0.3rem 2rem 1rem 2rem;
}

/*============= Contact =============*/

.h-contact-container {
    grid-column: 4 / 6;
    grid-row: 4 / 6; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /*border: 1px solid white;*/
}

.h-contact-wrapper {
    text-align: center;
    width: 90%;
    border: 2px solid white;
    padding: 1rem 2rem;
    margin: 0 0 .5rem 0;
    font-family: "PT Sans", Helvetica, Arial, Verdana, sans-serif;
}

.h-contact-phone {
    font-family: 'Oswald', sans-serif;
    font-size: var(--h_contact_phone);
    line-height: 1rem;
    font-weight: 500;
    padding: 1rem 0 1.5rem 0;
    transform-origin: center;
    transform: scale(1.2, 1.25);

}

.h-contact-text1 {
    font-family: "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 700;
    font-size: var(--h_contact_text1);
    line-height: 1.25rem;
}

.h-contact-text2 {
    font-family: "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 500;
    font-size: var(--h_contact_text2);
}


/* =========================================
                 MEDIA QUERIES 
   ========================================= */

   @media screen and (min-width: 990px) and (max-width: 1120px) {
    .h-nav-ul {
        grid-column: 1 / 5;
    }

    .h-contact-wrapper {
        width: 95%;
    }

}


@media screen and (min-width: 778px) and (max-width: 990px) {
    
    .h-title-wrapper h1 {
        color: var(--white);
    }
    
    .h-contact-wrapper {
        width: 100%;
        padding: 1rem 1rem;
    }

    .h-media-wrapper {
        grid-column: 4 / 5;

    }

}

@media screen and (max-width: 990px) {

    .h-nav-ul {
        all: unset;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--white);
        border: 2px solid red;

    }

}